/* 
	Styles for <romoo / about.>
	Author: Romoo
	Website: lab.romoo.com
	E-mail: romoochen@gmail.com
	Version: 0.1
*/

/* reset styles 
--------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
	}
ol, ul {
	list-style: none;
	}
blockquote, q {
	quotes: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}


/* main styles 
--------------------------------------------- */
hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    clear: both;
    filter: alpha(opacity = 30);
    height: 0;
    margin: 5px 0;
}

body {
	background-color: #A49C8C;
}

#wrapper {	
	text-align: center;
	}

#main {
	font-family: "Panic Sans", "Luxi Mono", "Courier New";
	background-color: #f2f2e2;
	width: 420px;
	text-align: left;
	margin: 50px auto 0px auto;
	padding: 10px 50px 10px 50px;
}

.drop-shadow {
            position:relative;  
        }

        .drop-shadow:before,
        .drop-shadow:after {
            content:"";
            position:absolute; 
            z-index:-2;
        }

.curled {
      border:1px solid #efefef; 
      -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;    
           border-radius:0 0 120px 120px / 0 0 6px 6px;
  }

  .curled:before,
  .curled:after {
      bottom:12px;
      left:20px;
      width:50%;
      height:55%;
      max-width:200px;
      -webkit-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
         -moz-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
              box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); 
      -webkit-transform:skew(-8deg) rotate(-3deg);
         -moz-transform:skew(-8deg) rotate(-3deg);
          -ms-transform:skew(-8deg) rotate(-3deg);
           -o-transform:skew(-8deg) rotate(-3deg);
              transform:skew(-8deg) rotate(-3deg);
  } 

  .curled:after { 
      right:20px; 
      left:auto;
      -webkit-transform:skew(8deg) rotate(3deg); 
         -moz-transform:skew(8deg) rotate(3deg);     
          -ms-transform:skew(8deg) rotate(3deg);     
           -o-transform:skew(8deg) rotate(3deg); 
              transform:skew(8deg) rotate(3deg);
  }


#top {
	
}

h1, h2, h3 {
	color: #524034;
	font-family: "Myriad Pro", "Lucida Grande", sans-serif;
}

h1 {
	margin-top: 3%;
	font-size: 300%;
}

h1 a {
	text-shadow: 0 1px 0 #9F002C, 
	               0 2px 0 #9F002C,
	               0 3px 0 #9F002C,
	               0 4px 0 #9F002C,
	               0 5px 0 #9F002C,
	               0 6px 1px rgba(0,0,0,.1),
	               0 0 5px rgba(0,0,0,.1),
	               0 1px 3px rgba(0,0,0,.3),
	               0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.25),
	               0 10px 10px rgba(0,0,0,.2),
	               0 20px 20px rgba(0,0,0,.15);
}

h2 {
	margin-top: 1.5em;
}

h1#title {
	margin-left: 10%;
	margin-top: 10%;
	font-size: 500%;
}

a:link, a:visited {
	color: #da5867;
	text-decoration: none;
}

#about a:link, #about a:visited {
	color: #C92A52;
	text-decoration: none;
}

#about a:hover {
	color: #ba4b58;
}

li:hover ul.sub {
	display: block;
}

p, #about ul { 
	color: #524034;
}


#about p {
	width: 38em;
	font-size: 70%;
	line-height: 180%;
}

#about h1 {
	margin-bottom: 0.3em;
}

#about h2 {
	font-size: 120%;
	margin-bottom: 0.8em;
}

#thumb {
	border: 4px solid #A49C8C;
	position: relative;
	margin-right: 5px;
	float: left;
	height: 146px;
}

#thumb:hover {
	border: 4px solid #C92A52;
}

#thumb p {
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	border: 1px solid gray;
	padding: .3em;
	background-color: #FFD;
	-webkit-transition: opacity .25s linear;
	transition: opacity .25s linear;
	-moz-transition: opacity .25s linear;
	-o-transition: opacity .25s linear;
}

#thumb:hover p, p:hover {
	opacity: 1;
}

.clearthefloats {
	clear: both;
}

#about ul {
	font-size: 80%;
	margin-left: 1.4em;
}

#reachme li {
	float: left;
	text-indent: -8964px;
	margin-bottom: 0.3em;
}

#reachme li a {
	display: block; 
}

#reachme {
	height: 50px;
	display: inline;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#twitter a {
	outline: none;
	text-indent: -1000em;
	margin-right: 15px;
	background:url('icon.jpg') no-repeat 0px -32px;
	width: 32px;height: 32px;
	display: block;
	overflow: hidden;
}

#twitter a:hover {
	background-position: 0px 0px;
}

#gmail a {
	outline: none;
	text-indent: -1000em;
	margin-right: 15px;
	background:url('icon.jpg') no-repeat -31px -32px;
	width: 32px;height: 32px;
	display: block;
	overflow: hidden;
}

#gmail a:hover {
	background-position: -31px 0px;
}

#douban a {
	outline: none;
	text-indent: -1000em;
	margin-right: 15px;
	background:url('icon.jpg') no-repeat -62px -32px;
	width: 32px;height: 32px;
	display: block;
	overflow: hidden;
}

#douban a:hover {
	background-position: -62px 0px;
}

#lastfm a {
	outline: none;
	text-indent: -1000em;
	margin-right: 15px;
	background:url('icon.jpg') no-repeat -93px -32px;
	width: 32px;height: 32px;
	display: block;
	overflow: hidden;
}

#lastfm a:hover {
	background-position: -93px 0px;
}

#skype a {
	outline: none;
	text-indent: -1000em;
	margin-right: 15px;
	background:url('icon.jpg') no-repeat -124px -32px;
	width: 32px;height: 32px;
	display: block;
	overflow: hidden;
}

#skype a:hover {
	background-position: -124px 0px;
}

#jiepang a {
	outline: none;
	text-indent: -1000em;
	margin-right: 15px;
	background:url('icon.jpg') no-repeat -155px -32px;
	width: 32px;height: 32px;
	display: block;
	overflow: hidden;
}

#jiepang a:hover {
	background-position: -155px 0px;
}

#wakoopa a {
	outline: none;
	text-indent: -1000em;
	margin-right: 15px;
	background:url('icon.jpg') no-repeat -186px -32px;
	width: 32px;height: 32px;
	display: block;
	overflow: hidden;
}

#wakoopa a:hover {
	background-position: -186px 0px;
}

#footer {
	display: block;
	text-align: right;
	margin: auto;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 12px 20px 6px 20px;
	text-shadow: #000 0 1px 0;
	vertical-align: center;
	width: 520px;
	}
#footer p { 
	color: #F2F2E2; 
	float: right; 
	font-size: 70%; 
}
		
#footer p a, #footer p a:hover, #footer p a:focus { 
	color: #F2F2E2; 
	text-decoration: none; 
}



