/* 
	Styles for <Bluezone.>
	Author: Romoo
	Website: lab.romoo.com/blue.html
	E-mail: romoochen@gmail.com
	Version: 0.1
*/

body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
	color: #333;
	margin: 0;
	padding: 0;
	background:#e1e1e1 url('./images/bg.gif') center repeat-y;
}

html, body, #wrapper {
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
}

h1 {
	letter-spacing: 0px;
	font-size: 23px;
	margin-bottom: 25px;
	margin-top: 10px;
}

h2 {
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 20px;
}

h3 {
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 10px;
}

a {
	color: #2a89c5;
	text-decoration: none;
}

a:hover {
	color: #2a89c5;
	text-decoration: underline;
}

.clear {
    overflow: hidden;
    width: 100%;
	margin-top: 10px;
}

#pagewrapper {
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	width: 900px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#header {
	padding: 0; 
	height: 100px; 
	width: 900px;
	background: transparent url('./images/header3.jpg') no-repeat;
	font-size: 12px;
}

div.page_home #Menu {
	background: #2a89c5 url('./images/visual2.jpg') repeat-x;
	height: 44px;
	font-size: 14px;
	position: relative;
	line-height: 90%;
}

div#home {
	position: absolute;
	top: 20px;
}

div#home a {
	display: block;
	width: 350px;
	height: 50px;
	border: none;
}

div#home a:hover {
	text-decoration: none;
}

div.page_home div#contentwrapper {
	background:transparent url(./images/visual2.jpg) no-repeat;
	background-position: center -44px;
}

div#contentwrapper {
	background-color:white;
}


/* navigation menu */
#Menu {
	background: transparent url('./images/navigationbg.gif') repeat-x; 
	height: 44px;
	font-size: 14px;
	position: relative;
	line-height: 90%;
}

#Menu ul {
	margin:0 0 0 190px;
	padding:0;
	list-style-type:none;
	font-weight: normal;
}

#Menu ul.nav {
	margin:0 0 0 310px;
	padding:0;
	list-style-type:none;
	font-weight: normal;
}

#Menu ul li {
	display:block;
	float:left;
}

#Menu ul li a {
	display:block;
	float:left;
	padding:8px 15px 0 15px;
	height:40px;
	color: #222;
	text-decoration: none;
}

#Menu ul li a:hover {
	background:transparent url(./images/button-hover.gif) repeat-x;
	background-position: center 0px;
	color: #fff;
	text-decoration: none;
	border: none;
}

#Menu ul li a.current {
	background:transparent url(./images/button-selected.gif) repeat-x;
	background-position: center 0px;
	color: #fff;
	text-decoration: none;
	border: none;
}

/* /Menu */

.narrowcolumn {
	padding: 5px;
	margin: 0 15px 15px 15px;
	color: 	#555;
	line-height: 150%;
	font-size: 1.2em;
}

.narrowcolumn ul li {
	list-style-type: none;
	list-style-image: none;
	padding: 0;
}

.narrowcolumn ul {
	padding: 0;
}

.narrowcolumn .entry {
	font-size: 1.05em;
	margin-top: 10px;
	text-align: left;
}

.narrowcolumn .entry img {
	display: block;
}

.narrowcolumn .entry {
	line-height: 1.4em;
}

div.intro{
	height: 350px;
}

div#joinusbutton {
	position: absolute;
	top: 385px;
	margin-left: 80px;
}

div#joinusbutton a {
	display: block;
	width: 220px;
	height: 72px;
	border: none;
	text-decoration: none;
}

div#joinusbutton a:hover {
	text-decoration: none;
}

div.introtext {
	min-height: 300px;
}

div.introtext h1 {
	font-size:medium;
	font-weight:bold;
	color:#CC6600;
	clear:both;
}

h2.intro {
	margin-left: 10px;
}

table.our td {
	background: white url('./images/ourbg.gif') repeat-x;
	background-position: 0 -20px;
	width: 31%;
	padding: 5px 15px;
	border: 1px solid #cecece;
}

table.our td ul, table.our td ul li{
	padding: 0;
	margin: 0;
}

div.album {
	width: 570px;
	float: left;
	margin-left: 10px;
}

div.seeinaction {
	margin-right: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	float: left;
}

img.albumSelected {
	width: 250px;
	border: 2px solid #ccc;
	margin-right: 10px;
	margin-bottom: 10px;
}

br.fix {
	clear: both;
	height: 1px;
	font-size: 0px;
}

div.activity {
	width: 230px;
	float: left;
}

#footer {
	color: black;
	background: transparent url('./images/pagebg.gif') repeat-x;
	margin: 0 0 20px 0;
	padding: 0;
	width: 900px;
	clear: both;
}
	
#footer .blockwrapper {
	margin-left: 20px;
}

#footer div.block {
	margin: 10px 15px 30px 15px;
	float: left;
	width: 180px;
	font-size: 1.2em;
	color: #555;
	line-height: 140%;
	padding:0;
}
	
#footer div.block h2 {
	color: #555;
	font-size: 1.2em;
}
	
#footer div.block ul {
	margin: 10px 0 0 0;
	padding: 0 0 0 0px;
	font-size: 1.0em;
	color: #698f16;
	list-style-type:none;
	line-height: 140%;
}

#copyright {
	padding: 0;
	margin: 0 auto;
	width: 820px;
	clear: both;
	height: 45px;
}

#copyright  p {
	margin: 0;
	padding: 10px 0;
	text-align: center;
	color: #555;
}







